* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #FFF;
	font-size: 16px;
}
.content {
	width: 85%;
	margin: 0;
	padding: 10px 30px;
	border: 3px ridge #F55747;
	background-image: linear-gradient(to right, rgb(155,220,149), rgb(121,220,99));
}
.sidebar {
	height: 300px;
	width: 13%;
	margin: 0;
	border: 3px ridge #F55747;
	background-image: linear-gradient(to right, rgb(155,220,149), rgb(121,220,99));
}
p {
	margin: 15px 0;
	text-align: justify;
	font-size: 1em;
	font-family: 'Libre Baskerville', serif;
}
.page {
	margin: 10px auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
}
.container {
	background-color: #FFFFFF;
	background-image: url('pics/trianglify.png');
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	display: flex;
	justify-content: center;
	width: 100%;
}
.heading {
	padding: 10px 30px;
	margin: 0px 0px;
	background-color: #FFF;
	background-image: url('pics/trianglify.png');
}
.heading h1 {
	color: blue;
	padding: 0 0 10px 0;
	font-size: 2.4em;
	text-shadow: 2px 1px 5px grey;
	font-weight: normal;
}
.menu {
	height: 60px;
	padding: 10px 5px;
	background-color: #632E5C;
	display: flex;
	justify-content: space-between;
}
.menu-logo {
	display: block;
	height: 40px;
	margin: 0;
	background-color: #632E5C;
}
.link-container {
	display: flex;
	justify-content: flex-end;
}
.options {
	display: block;
	height: 40px;
	font-size: 1.3em;
	color: #EB93D0;
	text-align: center;
	text-decoration: none;
	padding: 9px 0;
	width: 90px;
	margin: 0;
	background-color: #632E5C;
}
.options:hover {
	color: #FFF;
}
.footer {
	height: 60px;
	background-color: #8C61A3;
}
.grid {
	height: 500px;
	background-color: #B9FFFE;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url('pics/gridback.png');
	/*background-size: 100% 100%;*/
}
.column {
	width: 27%;
	margin: 0px;
	height: 350px;
	background-color: #FFF;
	border-radius: 10%;
	font-size: 30px;
	color: #FFF;
	text-align: center;
	padding: 20px 0 0 0;
}
.startups {
	background-color: #DC6AA0;
}
.investors {
	background-color: #FCE036;
}
.enthusiasts {
	background-color: #63E8F0;
}
.content-head {
	font-size: 1.4em;
	text-align: center;
	margin: 20px 0 20px 0;
	color: #FC007A;
	text-shadow: 2px 1px 5px #CCC;
	font-family: 'Merriweather', serif;
}
.some-text {
	color: red;
}
.apni-link {
	text-decoration: none;
	color: green;
	font-size: 1.2em;
	margin: 20px auto 10px auto;
	display: block;
	width: 340px;
	text-align: center;
}
.apni-link:hover {
	text-decoration: none;
	color: red;
	font-size: 1.2em;
	display: block;
	text-align: center;
}
.button {
	width: 200px;
	height: 50px;
	background-color: #F55747;
	font-size: 1.2em;
	padding: 16px 30px;
	text-align: center;
	border-radius: 8px;
	color: #FFF;
	margin: 30px auto;
	display: block;
	text-decoration: none;
}
.button:hover {
	background-color: #5EB27B;
	border: 3px outset #FFBCBA;
	padding: 13px 30px;
}
.button:active {
	background-color: #87C7BE;
}
.button2 {
	background-color: #FFDE72;
}
.pika {
	display: block;
	height: 450px;
	margin: 30px auto;
	width: 75%;
	border: 3px ridge #F55747;
}
.logo {
  margin: 20px auto;
  padding: 0 0 0 0;
  display: block;
  width: 250px;
}